body{
  display: flex;
  justify-content: center;
  background: #13d86b;
}

#container{
  position: relative;

}

#content{

  background: #e03b66;
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 50px;
  border: 6px solid #000;
}
#content:hover{
  color: #000;
}

ul{
  list-style-type: none;
  padding: 0px
  display:flex;
}

a{
  text-decoration: none;

  padding: 5px;
}
a:link{
  color: #000;
}
a:visited{
  color: #063a52;
}
body:hover{
  color: #db735b;
}
